{% extends 'base.html' %}
{% block title %} Listar Usuário {% endblock %}
{% block content %}
    <div class="body container">
    <h1 class="mb-5">Bem vindo</h1>

    <a id="add-link" href="novousuario/{{ dados.id }}" >
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar novo Usuario
        </div>
    </a>
    <div class="col-9 search-div">
        <form method="GET" id="search-form-usuario">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do usuario para buscar..." value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn-usuario"></i>
        </form>
    </div>
    <div class="col-12 filter-div">
        <span>Filtrar por:</span>
        <select name="filtro" id="filtro" class="form-control">
            <option value="">Escolha uma opção...</option>
            <option value="Ativado">Usuarios ativos</option>
            <option value="Inativado">Usuarios inativos</option>
        </select>
    </div>

    <table class="table" >
        <thead class="thead-dark">
            <tr>
            <th scope="col">Imagens</th>
            <th scope="col">Tipo Usuário</th>
            <th scope="col">Status Usuário</th>
            <th scope="col">Nome do Usuário</th>
            <th scope="col">Login</th>
            <th scope="col">Última Atualização</th>
            <th colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="alert alert-success" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {%  endif %}
        {% for dados in dados %}
            <tr>
            <th scope="row">
                <img src="../media/{{ dados.foto }}" alt="Não possui foto">
            </th>
            <th scope="row">{{dados.Tipo_Usuario}} </th>
            <td>{{dados.Tipo_Status_Usuario}}</td>

                    <td > <a href="visualizar/{{ dados.id }}">{{dados.Nome_Usuario}} </a></td>

            <td>{{dados.Login_Usuario}}</td>
            <td>{{dados.updated_at}}</td>
            <td>
               <a href="editarusuario/{{ dados.id }}" alt="Editar">
                   <i class="fas fa-user-edit" ></i>
                  </a>
            </td>
            <td>
                <a href="excluirusuario/{{ dados.id }}" alt="Excluir" class="delete-btn">
                <i class="fas fa-user-times"></i>
                </a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<div class="pagination">
    <span class="step-links">
        {% if dados.has_previous %}
            <a href="?page={{ dados.previous_page_number }}"> <i class="fas fa-arrow-left"> </i> </a>
         {% endif %}
    <span class="current">
        {{ dados.number }} de {{ dados.paginator.num_pages }}
    </span>
        {% if dados.has_next %}
            <a href="?page={{ dados.next_page_number }}"> <i class="fas fa-arrow-right"> </i> </a>
    {% endif %}
    </span>
</div>
{% endblock %}