/* base.html */

body {
    font-family: jomolhari;
}

thead tr th{
    text-align: center;
}

tbody tr, th, td{
    text-align: center;
}
ul.messages{
    padding: 0;
}

ul.messages li{
    list-style: none;
}

h1 ,img {
    color: black;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border:1px solid lightslategray;
}

.container-fluid {
    background-color: #f7f5e6 ;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */

.navbar  {
    margin-bottom: 20px;    background-position: center;
    background-color: #52658f;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: white;
}
.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #26A69A;
    letter-spacing: 1px;
}

/* Botão de Cadastrar */

#add-link{
    text-decoration: none;
}

.add-div {
    background-color: #42A5F5;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: #FFF;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;    
    cursor: pointer;        
}

.search-div {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;

}

/* filter*/

.filter-div {
    margin-bottom: 15px;
    padding: 0;
}

#filter {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/* Imoveis */
.imovel-view{
    margin-left: 20px;
}

.imovel-descricao {
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: #e8e8e8;
}

.media {
    margin-left: 20px;
}

.fas.fa-times-circle {
    color: #db1e47;
}

.fas.fa-check-circle {
    color: #13c43f;
}

.foto-cliente {
    margin-left: 30px;
    margin-bottom: 10px;
}

#div-cliente {
    width: 240px;
    height: 240px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: #e8e8e8;
}

#div-imovel {
    width: 280px;
    height: 240px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: #e8e8e8;
}   

.imoveis-preco{
    font-size: 18pt;
}

.list-div {
    padding: 20px;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #e8e8e8;
}

.endereco {
    font-size: 22px;
}

.endereco  a{
    text-decoration:none;
    color: black;   
    .imovel-list {
}

    padding-left: 0;
}

.titulo {
    font-size: 28px;
    color: black;
}
.imovel-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #CCC;
}

.d-block{
    position: relative;
    width: 620px;
    height: 350px;
}

.fas.fa-trash {
    color: #db1e47;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-edit {
    color: #13c43f;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

/* Rodapé */
footer {
    border-top: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; 
    background-color: #333a56;
}


footer li, h3  {
    color:white;
    list-style: none;
    color: ;
    text-align: center;
    top: 10%;
    position: relative;
}

.pagination{
    margin-bottom: 20px;
}
.step-links{
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

.visualizar{
    margin: 100px 250px;
    width: 700px;
}
.visualizar_img{

    width:200px;
    height:200px;
    border-radius: 100px;
    border:1px solid lightslategray;

}

.visualizar b{
    font-size:20px;
}
.visualizar td{
    font-size:20px;
    padding: 10px 50px 40px 50px;
}

.borda{
    border:5px solid #0073e6;
}

/* Login */
.auth-card {
    margin-bottom: 30px;
}

.change-form-p {
    margin-top: 30px;
    text-align: center;
}


.container-fluid {
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}