{% extends 'base.html' %}
{% block title %}Imóveis{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/../static/js/listarImovel.js"></script>
<h1 style="text-align: center;">Imóveis Cadastrados</h1>
<div class="col-12 filter-div">
    <div class="d-flex justify-content-center">
        <div>
            <select class="form-control" name="filter-status-imovel" id="filter-status-imovel">
                <option>Status</option>
                <option value="Ativo">Ativo</option>
                <option value="Inativo">Inativo</option>
            </select>
        </div>
        <div>
            <select class="form-control" name="filter-tipo-imovel" id="filter-tipo-imovel">
                <option>Tipo de Imóvel</option>
                <option value="Casa">Casa</option>
                <option value="Apartamento">Apartamento</option>
                <option value="Kitnet">Kitnet</option>
            </select>
        </div>
        <div>
            <select class="form-control" name="filter-quartos-imovel" id="filter-quartos-imovel">
                <option>Qtd. Quartos</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4+</option>
            </select>
        </div>
        <div>
            <select class="form-control" name="filter-andares-imovel" id="filter-andares-imovel">
                <option>Qtd. Andares</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3+</option>
            </select>
        </div>
    </div>
    </form>
</div>
<div class="offset-1 col-10 list-div">
    <a id="add-link" href="cadastrarImovel/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Cadastrar Imóvel
        </div>
    </a>
    <div class="col-9 search-div">
        <form method="GET" id="search-formf">
            <input class="form-control" type="text" id="search" name="search"
                placeholder="Digite o nome do Imóvel para a busca..." value="{{ request.GET.search }}">
            <i class="fas fa-search" id="seach-btn"></i>
        </form>
        <div>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
        </div>
    </div>
    <table id="imovel-list" class="table table-hover">
        <thead>
            <tr>
                <th class="titulo" scope="col">Imagens</th>
                <th class="titulo" scope="col">Informações</th>
                <th class="titulo" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for imovel in imoveis %}
            <tr>
                <th scope="row">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block" src="../media/{{ imovel.foto1 }}" alt="Primeiro Slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block" src="../media/{{ imovel.foto2 }}" alt="Segundo Slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block" src="../media/{{ imovel.foto3 }}" alt="Terceiro Slide">
                            </div>
                        </div>
                    </div>
                </th>
                <td><span class="endereco"><a href="imovel/{{imovel.id}}">{{ imovel.endereco }}</a><br><br></span>
                    <span class="imovel.status"><label>Status:</label> {{ imovel.status }}
                        {% if imovel.status == "Ativo" %}
                        <i class="fas fa-check-circle"></i>
                        {% endif %}
                        {% if imovel.status == "Inativo" %}
                        <i class="fas fa-times-circle"></i>
                        {% endif %}
                    </span><br><br>
                    <span class="listar-descricao">{{ imovel.descricao }}</span><br><br>
                    <span class="listar-descricao"><strong>Preço:</strong> <strong style="font-size: 20pt">R$
                            {{ imovel.preco }}</stong></span></td>
                <td><a href="deletarImovel/{{imovel.id}}" class="delete-btn"><span><i
                                class="fas fa-trash"></i></span></a>
                    <a href="editarImovel/{{imovel.id}}"><span><i class="fas fa-edit"></i></span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if imoveis.has_previous %}
            <a href="?page={{ imoveis.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            {% if imoveis.paginator.num_pages %}
            <span class="current">
                {{ imoveis.number }} de {{ imoveis.paginator.num_pages }}
            </span>
            {% endif %}
            {% if imoveis.has_next %}
            <a href="?page={{ imoveis.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}