{% extends 'base.html' %}

{% block title %}Imóveis{% endblock %}

{% block content %}
<div class="media">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block" src="/media/{{ imoveis.foto1 }}" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block" src="/media/{{ imoveis.foto2 }}" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block" src="/media/{{ imoveis.foto3 }}" alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <div class="imovel-view">
        <div id="imoveis.endereco">
            <h5 class="endereco">{{ imoveis.endereco }}</h5>
        </div>
        <div class="imovel.status"><label>Status:</label> {{ imoveis.status }}
            {% if imoveis.status == "Ativo" %}
            <i class="fas fa-check-circle"></i>
            {% endif %}
            {% if imoveis.status == "Inativo" %}
            <i class="fas fa-times-circle"></i>
            {% endif %}
        </div>
        <div class="offset-1 col-10 imovel-div">
            <div class="imoveis-cep"><label>CEP:</label> <strong>{{ imoveis.cep }}</strong></div>
            <div class="imoveis-tamanho"><label>Tamanho (m²):</label> <strong>{{ imoveis.tamanho }}</strong></div>
            <div class="imoveis-quartos"><label>Qtd. Quartos:</label> <strong>{{ imoveis.quartos }}</strong></div>
            <div class="imoveis-andares"><label>Andares:</label> <strong>{{ imoveis.andares }}</strong></div>
            <div class="imoveis-preco"><label>Preço: <strong>R$</label> {{ imoveis.preco }}</strong></div>
        </div>
    </div>
</div>
<div class="offset-1 col-10 imovel-descricao">
    {{imoveis.descricao}}
</div>
<div class="imoveis-created_at"><label>Create At:</label> {{ imoveis.created_at }}</div>
<div class="imoveis-update_at"><label>Update At:</label> {{ imoveis.update_at }}</div>
{% endblock %}