{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Cadastre Cliente{% endblock %}


{% block content %}
<body class="fundo">
    <div class="container conteudo mt-5">
    <h1 class="mb-3 mt-5"> Cadastre seu Cliente</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" class="btn btn-success" value="Cadastrar Cliente">
        <a href="../" class="btn btn-dark mb-5 mt-3"> Voltar </a>
    </form>
    </div>
</body>
{% endblock %}