{% extends 'base.html' %}

{% block title %}Imóveis{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Imóveis Cadastrados</h1>
    <a id="add-link" href="cadastrarImovel/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Cadastrar Imóvel
        </div>
    </a>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search"
            placeholder="Digite o nome do Imóvel para a busca...">
        <i class="fas fa-search"></i>
        <div>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
        </div>
    </div>
    <ul class="task-list">
        {% for imovel in imoveis %}
        <li class="task-item">
            <span><a href="imovel/{{imovel.id}}">{{ imovel.endereco }}</a></span>
            <a href="deletarImovel/{{imovel.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
            <a href="editarImovel/{{imovel.id}}"><span><i class="fas fa-edit"></i></span></a>
        </li>
        {% endfor %}
    </ul>
    <diV class="pagination">
        <span class="step-links">
            {% if imoveis.has_previous %}
                <a href="?page={{ imoveis.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}            
            <span class="current">
                {{ imoveis.number }} de  {{ imoveis.paginator.num_pages }}
            </span>            
            {% if imoveis.has_next %}       
                <a href="?page={{ imoveis.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %} 
        </span>
    </div>
</div>
{% endblock %}